@using Domain.App.Enums
@model IEnumerable<DAL.App.DTO.Quiz>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
@foreach (var item in Model)
{
    <div class="card my-4">
        <div class="card-header text-left">
            <div class="d-flex justify-content-between m-2">
                <h4>
                    @if (item.QuizType == QuizType.Quiz)
                    {
                        <span class="badge badge-primary">Quiz</span>
                    }
                    else
                    {
                        <span class="badge badge-success">Poll</span>
                    }
                    @Html.DisplayFor(modelItem => item.Title)
                </h4>
                <div class="btn-group btn-group-sm">
                    <a class="btn btn-info text-white shadow-none" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <a class="btn btn-secondary text-white shadow-none" asp-action="Details" asp-route-id="@item.Id">Details</a>
                    <a class="btn btn-danger text-white shadow-none" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </div>
            </div>
            <div class="card card-body my-3">
                
                <div class="d-flex justify-content-between">
                    <div class="font-weight-light">
                        <p>
                            <span class="font-italic">Description: </span>@Html.DisplayFor(modelItem => item.Description)
                        </p>
                        This quiz/poll has been taken it @Html.DisplayFor(modelItem => item.TimesTaken) times.
                    </div>
                    <div class="font-weight-light small text-right">
                        <div>
                            Created by @Html.DisplayFor(modelItem => item.CreatedBy) at @Html.DisplayFor(modelItem => item.CreatedAt)
                        </div>
                        <div>
                            Last changed by @Html.DisplayFor(modelItem => item.ChangedBy) at @Html.DisplayFor(modelItem => item.ChangedAt)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}