@model IEnumerable<BLL.App.DTO.RestaurantUser>

@{
    ViewData["Title"] = @Resources.Views.CreDelDetEdiInd.CreDelDetEdiInd.RestaurantUsers;
}

<h1>@Resources.Views.CreDelDetEdiInd.CreDelDetEdiInd.RestaurantUsers</h1>

<p>
    <a asp-action="Create">@Resources.Views.CreDelDetEdiInd.CreDelDetEdiInd.Create</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Restaurant)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AppUser)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedAt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ChangedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ChangedAt)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Restaurant.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AppUser.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChangedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChangedAt)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">@Resources.Views.CreDelDetEdiInd.CreDelDetEdiInd.Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">@Resources.Views.CreDelDetEdiInd.CreDelDetEdiInd.Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">@Resources.Views.CreDelDetEdiInd.CreDelDetEdiInd.Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>