@model BLL.App.DTO.ItemOption

<h4>ItemOption</h4>
<hr/>
<dl class="row">
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Name)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Name)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.IsRequired)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.IsRequired)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.IsSingle)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.IsSingle)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Item)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Item.Name)
    </dd>
</dl>