@model WebApp.ViewModels.UserManagerDetailsDeleteViewModel

<h4>@Resources.Views.Index.CreDelDetEdiInd.User</h4>
<hr/>
<dl class="row">
    <dt class="col-sm-2">
        @Resources.Views.Index.UserManager.CurrentRoles
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.CurrentRoles)
    </dd>
    <dt class="col-sm-2">
        @Resources.Views.Index.UserManager.Id
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.User.Id)
    </dd>
    <dt class="col-sm-2">
        @Resources.Views.Index.UserManager.SecurityStamp
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.User.SecurityStamp)
    </dd>
    <dt class="col-sm-2">
        @Resources.Views.Index.UserManager.Username
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.User.UserName)
    </dd>
    <dt class="col-sm-2">
        @Resources.Views.Index.UserManager.NormalizedUserName
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.User.NormalizedUserName)
    </dd>
    <dt class="col-sm-2">
        @Resources.Views.Index.UserManager.FirstName
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.User.FirstName)
    </dd>
    <dt class="col-sm-2">
        @Resources.Views.Index.UserManager.LastName
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.User.LastName)
    </dd>
    <dt class="col-sm-2">
        @Resources.Views.Index.UserManager.Phone
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.User.Phone)
    </dd>
</dl>