@{
    ViewData["Title"] = "HomePage";
}
@using Domain.App.Enums
@model QuizViewModel

<div class="row">
    @foreach (var item in Model.Quizzes!)
    {
        <div class="col-sm-4">
            <div class="card my-4 h-100">
                <div class="card-header text-left h-100 d-flex flex-column">
                    <div class="d-flex justify-content-between m-2">
                        <h4>
                            @if (item.QuizType == QuizType.Quiz)
                            {
                                <span class="badge badge-primary">Quiz</span>
                            }
                            else
                            {
                                <span class="badge badge-success">Poll</span>
                            }
                            <span class="font-weight-bold">@Html.DisplayFor(modelItem => item.Title)</span>
                        </h4>
                    </div>
                    <div class="card card-body my-3 font-weight-light">
                        <div class="mb-2">
                            <div class="font-italic">Description: </div>
                            <div>@Html.DisplayFor(modelItem => item.Description)</div>
                        </div>
                        <div>This @item.QuizType.ToString().ToLower() has been taken it @Html.DisplayFor(modelItem => item.TimesTaken) times.</div>
                    </div>
                    <div class="text-center">
                        <a class="btn btn-outline-primary font-weight-bold shadow-none w-100" asp-controller="Home" asp-action="TakeQuiz" asp-route-id="@item.Id">Take Quiz!</a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>