@using Extensions
@model TakeQuizViewModel

@{
    ViewBag.Title = "Quiz";
    Layout = "_Layout";
}
<h1>@Model.Quiz.Title</h1>
<hr/>
<form asp-action="TakeQuiz">
    <div class="form-check">
        <div asp-validation-summary="All" class="text-danger"></div>
        @for (var questionNo = 0; questionNo < Model.Quiz.Questions!.Count; questionNo++)
        {
            <div class="form-group">
                <p>@Model.Quiz.Questions.ToList()[questionNo].Title</p>
                @for (var choiceNo = 0; choiceNo < @Model.Quiz.Questions.ToList()[questionNo].Choices!.Count; choiceNo++)
                {
                    <input type="radio" required="required" asp-for="ChosenIds[questionNo]" value="@(Model.Quiz.Questions.ToList()[questionNo].Choices!.ToList()[choiceNo].Id)">
                    @(Model.Quiz.Questions.ToList()[questionNo].Choices!.ToList()[choiceNo].Value)<br>
                    <span asp-validation-for="ChosenIds[questionNo]"></span>
                }
            </div>
            <hr/>
        }
    </div>
    <input type="submit" class="btn btn-primary" value="Submit"/>
</form>