@using Resources.Views.Shared._Layout
<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container">
        <a class="navbar-brand">@_Layout.Admin</a>
        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="Admin" asp-controller="Categories" asp-action="Index">@_Layout.Categories</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="Admin" asp-controller="RestaurantUsers" asp-action="Index">@_Layout.RestaurantUsers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="Admin" asp-controller="UserManager" asp-action="Index">@_Layout.UserManager</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="Admin" asp-controller="Translations" asp-action="Index">@_Layout.Translations</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container">
        <a class="navbar-brand">@_Layout.Customer</a>
        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="Customer" asp-controller="Addresses" asp-action="Index">@_Layout.Addresses</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="Customer" asp-controller="Orders" asp-action="Index">@_Layout.Orders</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="Customer" asp-controller="OrderRows" asp-action="Index">@_Layout.OrderRows</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="Customer" asp-controller="OrderItemChoices" asp-action="Index">@_Layout.OrderItemChoices</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container">
        <a class="navbar-brand">@_Layout.Restaurant</a>
        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="Restaurant" asp-controller="WorkingHourses" asp-action="Index">@_Layout.WorkingHourses</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="Restaurant" asp-controller="Restaurants" asp-action="Index">@_Layout.Restaurants</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="Restaurant" asp-controller="RestaurantCategories" asp-action="Index">@_Layout.RestaurantCategories</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="Restaurant" asp-controller="Items" asp-action="Index">@_Layout.Items</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="Restaurant" asp-controller="ItemInTypes" asp-action="Index">@_Layout.ItemInTypes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="Restaurant" asp-controller="ItemTypes" asp-action="Index">@_Layout.ItemTypes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="Restaurant" asp-controller="NutritionInfos" asp-action="Index">@_Layout.NutritionInfos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="Restaurant" asp-controller="ItemChoices" asp-action="Index">@_Layout.ItemChoices</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="Restaurant" asp-controller="ItemOptions" asp-action="Index">@_Layout.ItemOptions</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
