@using Resources.Views.Shared._Layout
<li class="nav-item">
    <a class="nav-link text-dark" asp-area="Restaurant" asp-controller="Restaurants" asp-action="Index">@_Layout.Restaurants</a>
</li>
<li class="nav-item">
    <a class="nav-link text-dark" asp-area="Customer" asp-controller="Orders" asp-action="Index">@_Layout.Orders</a>
</li>
<li class="nav-item">
    <a class="nav-link text-dark" asp-area="Restaurant" asp-controller="RestaurantCategories" asp-action="Index">@_Layout.RestaurantCategories</a>
</li>
<li class="nav-item">
    <a class="nav-link text-dark" asp-area="Restaurant" asp-controller="WorkingHourses" asp-action="Index">@_Layout.WorkingHourses</a>
</li>
<li class="nav-item">
    <a class="nav-link text-dark" asp-area="Restaurant" asp-controller="Items" asp-action="Index">@_Layout.Items</a>
</li>
<li class="nav-item">
    <a class="nav-link text-dark" asp-area="Restaurant" asp-controller="ItemInTypes" asp-action="Index">@_Layout.ItemInTypes</a>
</li>
<li class="nav-item">
    <a class="nav-link text-dark" asp-area="Restaurant" asp-controller="ItemTypes" asp-action="Index">@_Layout.ItemTypes</a>
</li>

<li class="nav-item">
    <a class="nav-link text-dark" asp-area="Restaurant" asp-controller="ItemChoices" asp-action="Index">@_Layout.ItemChoices</a>
</li>
<li class="nav-item">
    <a class="nav-link text-dark" asp-area="Restaurant" asp-controller="ItemOptions" asp-action="Index">@_Layout.ItemOptions</a>
</li>
<li class="nav-item">
    <a class="nav-link text-dark" asp-area="Restaurant" asp-controller="NutritionInfos" asp-action="Index">@_Layout.NutritionInfos</a>
</li>