@model BLL.App.DTO.ItemChoice

<h4>ItemChoice</h4>
<hr/>
<dl class="row">
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Name)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Name)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.AdditionalPrice)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.AdditionalPrice)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.ItemOption)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.ItemOption.Name)
    </dd>
</dl>