@model WebApp.ViewModels.OrderItemChoiceCreateEditViewModel

@{
    ViewData["Title"] = @Resources.Views.CreDelDetEdiInd.CreDelDetEdiInd.Create;
}

<h1>@Resources.Views.CreDelDetEdiInd.CreDelDetEdiInd.Create</h1>

<h4>@Resources.Views.CreDelDetEdiInd.CreDelDetEdiInd.OrderItemChoice</h4>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <partial name="Shared/_CreateEdit"/>
            <div class="form-group">
                <input type="submit" value="@Resources.Views.CreDelDetEdiInd.CreDelDetEdiInd.Create" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">@Resources.Views.CreDelDetEdiInd.CreDelDetEdiInd.Back</a>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}