@model BLL.App.DTO.Translation

@{
    ViewData["Title"] = @Resources.Views.CreDelDetEdiInd.CreDelDetEdiInd.Edit;
}

<h1>@Resources.Views.CreDelDetEdiInd.CreDelDetEdiInd.Edit</h1>

<h4>@Resources.Views.CreDelDetEdiInd.CreDelDetEdiInd.Translation</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Culture" class="control-label"></label>
                <input asp-for="Culture" class="form-control" />
                <span asp-validation-for="Culture" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Value" class="control-label"></label>
                <input asp-for="Value" class="form-control" />
                <span asp-validation-for="Value" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="LangStringId" />
            <div class="form-group">
                <input type="submit" value="@Resources.Views.CreDelDetEdiInd.CreDelDetEdiInd.Save" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">@Resources.Views.CreDelDetEdiInd.CreDelDetEdiInd.Back</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}