@model IEnumerable<BLL.App.DTO.Address>

@{
    ViewData["Title"] = @Resources.Views.Index.CreDelDetEdiInd.Addresses;
}

<h1>@Resources.Views.Index.CreDelDetEdiInd.Addresses</h1>

<p>
    <a asp-action="Create">@Resources.Views.Index.CreDelDetEdiInd.Create</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.County)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Street)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BuildingNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Apartment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedAt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ChangedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ChangedAt)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.County)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Street)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BuildingNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apartment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChangedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChangedAt)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">@Resources.Views.Index.CreDelDetEdiInd.Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">@Resources.Views.Index.CreDelDetEdiInd.Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">@Resources.Views.Index.CreDelDetEdiInd.Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>